@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    background-color: #e2e8ec;
    font-family: 'Montserrat', sans-serif;
}



header{
    height: 7vh;
    width: 100vw;
    display: flex;
    /*box-shadow:  20px 20px 60px #c0c5c9,*/
    /*-20px -20px 60px #ffffff;*/
}

#headerDivOfImg{
    width: 500px;
    height: 60px;
    display: flex;
    margin-left: 100px;
    margin-top: 20px;
}

#headerDivOfImg>div{
    margin-left: 10px;
    line-height: 10px;
}

#headerDivOfImg>div>h2{
    margin-top: 16px;
    margin-bottom: 0;
}

#headerDivOfImg>div>h5{
    margin-top: 12px;
}

#navList{
    display: flex;
    justify-content: end;
    align-items: baseline;
    width: 57%;
    height: 100%;
    margin-top: 25px;

}

#navList>nav{
    display: flex;
}
#navList>nav>ul{
    display: flex;
    list-style: none;
    width: fit-content;
}

#navList>nav>ul li{
    margin-left: 40px;
}
#navList>nav>ul li>a{
    text-decoration: none;
    color: black;
}

#navList>nav>button{
    width: 120px;
    height: 50px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow:  5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    border: none;
    margin-left: 40px;
    border-radius: 5px;
    color: #ff014f;
    transition-duration: 0.8s;
    transition-property: margin-top;
}

#navList>nav>button:hover{

    background: linear-gradient(145deg, #ff014f, #d11414);;
    color: white;
    margin-top: -3px;
    transition-duration: 0.8s;
    transition-property: margin-top;

}

