@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    background-color: #e2e8ec;
    font-family: 'Montserrat', sans-serif;
}

header{
    height: 7vh;
    width: 100vw;
    /*box-shadow:  20px 20px 60px #c0c5c9,*/
    /*-20px -20px 60px #ffffff;*/
}

#headerDivOfImg{
    width: 500px;
    height: 60px;
    display: flex;
    margin-left: 100px;
    margin-top: 20px;
}

#headerDivOfImg>div{
    margin-left: 10px;
    line-height: 10px;
}

#headerDivOfImg>div>h2{
    margin-top: 16px;
    margin-bottom: 0;
}

#headerDivOfImg>div>h5{
    margin-top: 12px;
}

